<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>layout</title>
	<link rel="stylesheet" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Port+Lligat+Sans" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<span class="logo">layout</span>
	</header>
	<nav class="nav-horizontal">
		<ul>
			<li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
			<li><a href="blog.html"><i class="fa fa-edit"></i>Blog</a></li>
			<li><a href="stock.html"><i class="far fa-calendar-alt"></i>Stock</a></li>
			<li><a href="contact.html"><i class="fas fa-envelope-open"></i>Contact</a></li>
		</ul>
	</nav>
	<section class="front-article">
		<article>
			<h2>Article #1</h2>
			<div class="article-image">
				<img src="https://placeimg.com/600/400/people" alt="" class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis, laudantium eveniet eum sapiente tenetur molestiae eos impedit et dignissimos doloribus cumque incidunt nostrum architecto fuga dicta commodi officia dolore!</p>
				<a href="#">Leer más</a>
			</div>
			<div class="clearfix"></div>
		</article>
		<article>
			<h2>Article #2</h2>
			<div class="article-image">
				<img src="https://placeimg.com/600/400/people" alt="" class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis, laudantium eveniet eum sapiente tenetur molestiae eos impedit et dignissimos doloribus cumque incidunt nostrum architecto fuga dicta commodi officia dolore!</p>
				<a href="#">Leer más</a>
			</div>
			<div class="clearfix"></div>
		</article>
		<article>
			<h2>Article #3</h2>
			<div class="article-image">
				<img src="https://placeimg.com/600/400/people" alt="" class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis, laudantium eveniet eum sapiente tenetur molestiae eos impedit et dignissimos doloribus cumque incidunt nostrum architecto fuga dicta commodi officia dolore!</p>
				<a href="#">Leer más</a>
			</div>
			<div class="clearfix"></div>
		</article>
	</section>
	<aside>
		<h2>Siguenos en Twitter</h2>
		<a class="twitter-timeline" data-width="600" data-height="400" data-theme="dark" href="https://twitter.com/Josemicod5?ref_src=twsrc%5Etfw">Tweets by Josemicod5</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</aside>
	<div class="clearfix"></div>
	<footer>
		
	</footer>
</body>
</html>